extends layout

block content 
    h1 New Password
    p=message
    form(action='/users/'+id+'/password', method='POST')
        p
            label(for='password') Password: 
                input(name='password', type='password', value='', required)
        p
            label(for='password_check') Repeat Password: 
                input(name='password_check', type='password', value='', required)
        p
            input(value='Submit', type='submit')
